# environment files
.env

# Python bytecode
__pycache__/
*.py[cod]

# testing, build, IDE
.pytest_cache/
build/
dist/
*.egg-info/

# IDEs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.iml
Flutter-App/.idea/

# Flutter - General build outputs and caches
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
Flutter-App/.dart_tool/
Flutter-App/build/

# Flutter - Android-specific build artifacts
Flutter-App/android/.gradle/
Flutter-App/android/.kotlin/
Flutter-App/android/captures/
Flutter-App/android/.cxx/
Flutter-App/android/app/build/
Flutter-App/android/build/

# Flutter - User-specific / Sensitive files
Flutter-App/android/local.properties
Flutter-App/android/key.properties
**/*.keystore
**/*.jks

# dev scripts
scripts/