# environment files
.env

# Python bytecode
__pycache__/
*.py[cod]

# testing, build, IDE
.pytest_cache/
build/
dist/
*.egg-info/

# IDEs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/Flutter-App/build/
/Flutter-App/ios/
/Flutter-App/android/
/Flutter-App/web/
/Flutter-App/linux/
/Flutter-App/macos/
/Flutter-App/windows/
